.navbar{
    background-color: black;
    
}

.nav-brand{
    display: inline-block;
    color: aliceblue;
    margin-right:65vw ;
    margin-left: 15px;
    font-size: 1.5rem;
}

.nav-menu{
    color: white;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    cursor: pointer;
  
}

.user-profile{
    height: 19px;
    display: inline-block;
    margin: 0 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
   
}