.navbar{
    background-color: rgb(131, 48, 96);
    
}

.nav-brand{
    display: inline-block;
    color: rgb(147, 214, 40);
    margin-right:65vw ;
    margin-left: 15px;
    font-size: 1.5rem;
}

.nav-menu{
    color: rgb(247, 72, 49);
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
    cursor: pointer;
  
}

.user-profile{
    height: 19px;
    display: inline-block;
    margin: 0 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
   
}